<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Qwigley" />
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" type="image/png" href="{{ asset('favicon.png') }}" />
</head>
<body>
<div id="symfony-wrapper">
    <div id="symfony-header">

        <a>
            <img src="{{ asset('build/images/logo-DFDFDF.jpg') }}" alt="Krzyś">
        </a>
        <h3>...& Zosia ;D</h3>
        <div id="filter" class="right" title="{{ path('session') }}">
            <div><input type="radio" name="filter" value="0" {% if(app.session.get('tag') == 0) %}checked="checked"{% endif %} />Wszystko</div>
            <div><input type="radio" name="filter" value="1" {% if(app.session.get('tag') == 1) %}checked="checked"{% endif %} />Krzyś</div>
            <div><input type="radio" name="filter" value="2" {% if(app.session.get('tag') == 2) %}checked="checked"{% endif %} />Zosia</div>
        </div>

        <div class="menu">
            <a href="{{ path('evolution') }}">Galeria jednego zdjęcia</a>
            <span>|</span>
            <a href="{{ path('best') }}">The best of</a>
            <span>|</span>
            <a href="{{ path('video') }}">Video</a>
            <span>|</span>
            <a href="{{ path('page') }}">Wszystko</a>
        </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
        <div style="clear: both"></div>
    {% endblock %}

    <div class="symfony-content">
        {% block content %}
        {% endblock %}
    </div>

</div>
</body>
{% block javascripts %}
{% endblock %}
</html>
