{% macro image(pic) %}
    <img src="{{ asset('web/gallery/images/years') }}/{{ pic.name }}" class="medium" title="{{ pic.amountWeeks }} tydzień Krzysia, {{ pic.amountWeeks2 }} tydzień Zosi, {{pic.day}}.{{pic.month}}.{{pic.year}}"/>
{% endmacro %}

<h1>The best of</h1>
{% for pic in files %}
  <div class="item-box">
    <span class="item">
	  {% if hide is defined %}
	    {{ _self.image(pic) }}	    
	  {% else %}
        <a href="{{ path('pageMonth', { 'year': pic.year, 'month': pic.month }) }}#{{ pic.amountDays }}" class="medium">
	      {{ _self.image(pic) }}
        </a>
	  {% endif %}
    </span>
  </div>
{% endfor %}
<div id="bottom"></div>